@import '/styles/fonts.css';
@import '/styles/colours.css';

body > main.home {
  & > .capabilities {
    margin: 30px 0 30px 0;
    & > ul {
      list-style-type: none;
      columns: 2 350px;
      margin: auto;
      max-width: 900px;
      padding: 0;
      & > li {
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
        & > h3 {
          font-family: var(--font-stack-slab);
          font-weight: bold;
          font-size: 20px;
          margin: 0;
          display: inline-block;
          width: 100%;
        }
        & > p {
          font-family: var(--font-stack-sans-serif);
          font-size: 16px;
          line-height: 24px;
          display: inline-block;
          width: 100%;
        }
      }
    }
  }
  & > .installation {
    text-align: center;
    margin-bottom: 30px;
    width: calc(100vw - 30px);
    overflow-x: auto;
    & > code {
      text-align: left;
      font-family: var(--font-stack-monospace);
      font-size: 20px;
      line-height: 1.5em;
      color: var(--color-background);
      padding: 2em;
      background-color: var(--color-foreground);
      white-space: pre;
      display: inline-block;
      & > a, & > a:visited {
        text-decoration: none;
        color: var(--color-background);
      }
    }
  }
  & > .about {
    & > p {
      font-family: var(--font-stack-sans-serif);
      font-size: 20px;
      line-height: 36px;
      max-width: 550px;
      margin: 2em auto;
    }
  }
  & > .network {
    max-width: 100vw;
    margin: 30px 0;
    & > h2 {
      text-align: center;
      position: relative;
      width: 100%;
      max-width: 700px;
      margin: 30px auto;
      &::before {
        content: '';
        z-index: -1;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        height: 6px;
        background-color: var(--color-foreground);
      }
      & > span {
        background-color: var(--color-background);
        display: inline-block;
        padding: 0 1em;
        font-weight: 300;
        font-stretch: condensed;
        font-family: var(--font-stack-condensed);
        font-size: 48px;
      }
    }
    & > p {
      font-family: var(--font-stack-sans-serif);
      font-size: 20px;
      line-height: 36px;
      max-width: 550px;
      margin: 2em auto;
    }
    & > svg {
      width: 100%;
      margin: 30px 0;
    }
    & > ul {
      list-style-type: none;
      columns: 175px;
      margin: 30px auto;
      max-width: 700px;
      padding: 0;
      & > li {
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
        font-weight: 300;
        font-stretch: condensed;
        font-family: var(--font-stack-condensed);
        font-size: 24px;
        text-align: center;
      }
    }
  }
  & > .features {
    display: flex;
    flex-direction: column;
    & > h2 {
      text-align: center;
      position: relative;
      width: 100%;
      max-width: 700px;
      margin: 30px auto 60px auto;
      &::before {
        content: '';
        z-index: -1;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        height: 6px;
        background-color: var(--color-foreground);
      }
      & > span {
        background-color: var(--color-background);
        display: inline-block;
        padding: 0 1em;
        font-weight: 300;
        font-stretch: condensed;
        font-family: var(--font-stack-condensed);
        font-size: 48px;
      }
    }
    & > ul {
      list-style-type: none;
      columns: 250px;
      max-width: 700px;
      width: 100%;
      margin: auto;
      padding: 0;
      & > li {
        font-weight: 300;
        font-stretch: condensed;
        font-family: var(--font-stack-condensed);
        font-size: 36px;
        margin: 0 0.5em 1em 0;
      }
    }
  }
  & > .video {
    padding-top: 30px;
    text-align: center;
    & > a {
      position: relative;
      display: inline-block;
      & > img {
        filter: grayscale(100%) contrast(150%);
        border: 4px solid var(--color-foreground);
        box-sizing: border-box;
        width: 100%;
        max-width: 560px;
      }
      &::after {
        content: '▶️';
        filter: sepia(100%) hue-rotate(310deg) saturate(15);
        font-size: 5em;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media (max-width: 600px) {
  body > main.home {
    & > .capabilities {
    }
    & > .installation {
      & > code {
        font-size: 11px;
        padding: 1em;
      }
    }
    & > .about {
    }
    & > .features {
      & > h2 {
        & > span {
          font-size: 36px;
        }
      }
      & > ul {
        text-align: center;
        & > li {
          font-size: 18px;
        }
      }
    }
  }
}
